.cart{ 
    font-size: 1.5vw;
    color: #ffffff;
    margin: 0 1vw;
}
.cart i{ 
    font-size: 1.5vw;
    color: #ffffff; 
    transition: font-size .5s;
}
.cart i:hover{ 
    font-size: 2.5vw;
    
}